#home {
	color: white;
	background: url('/img/wallet_bg.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

#home .btn-link {
	color: white;
	font-size: 2em;
	margin-top: 7em;
}

#home .collapsable {
	margin-top: 12em;
}

#account-bg {
	background: url('/img/banknotes_bg.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

#account {
	background: white;
	border-radius: 1em;
}

#account .btn {
	color: black;
}

#account span {
	vertical-align: -webkit-baseline-middle;
}

.menu {
	background: none;
}

button:HOVER, button:FOCUS, button:ACTIVE {
	outline: none !important;
}

#new-row .btn.active.focus {
	outline: none;
}

#new-row input:focus {
	outline: none;
}