<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/default" lang="pl">
<head>
<title th:text="#{menu.account}">Account page</title>
</head>
<body>
	<div id="account_bg" class="container-fluid" layout:fragment="content">
		<div id="account" class="container">
			<span th:text="|#{account.name} ${#authentication.name}"></span>
			<form class="pull-right" th:action="@{/logout}">
				<button class="btn btn-link btn-sm">Logout</button>
			</form>
			<div class="row menu">
			<div class="col-sm-1 col-sm-offset-5">
				<button class="btn btn-link" th:action="@{/operation}" th:text="#{account.button}"></button>
			</div>
			</div>
			<div class="row">
				<table class="table">
					<tr class="active">
						<th class="col-sm-1" th:text="#{table.id}">#</th>
						<th class="col-sm-1" th:text="#{table.date}">Date</th>
						<th class="col-sm-2" th:text="#{table.transfer}">Amount</th>
						<th class="col-sm-8" th:text="#{table.description}">Description</th>
					</tr>
					<tr th:each="operation : ${operations}">
						<td th:text="${operation.id}" />
						<td th:text="${operation.date}" />
						<td th:text="${operation.transfer}" th:class="${operation.profit} ? success : danger" />
						<td th:text="${operation.description}" />
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script layout:fragment="script">
		
	</script>
</body>
</html>